body, #body {
    font-family: 'Roboto', sans-serif;
    z-index: -1;
    max-width: 100% !important;
    max-height: 918px !important;
    background-color: #e9ecef;
    background: url(../../uploads/images/loginBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.toast-container{
    position: fixed;
    top: 10px;
    right: 5%;
    width: 255px;
    z-index: 200;
}
.toast-container .toast-header img{
    width: 1.5rem!important;
}
label{
    margin-bottom: 0px;
    margin-top: .5rem;
    color: white;
}
.hidden{
    display: none;
}
#search-title{
    position: absolute;
    bottom: 70px;
    left: 53px;
    color: #5f7335;
}
#search{
    position: absolute;
    bottom: 15px;
    left: 253px;
    width: 73px;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    background: #e6d57a;
    border-top: 5px solid #acca6b;
    border-bottom: 5px solid #acca6b;
    border-right: 5px solid #acca6b;
    z-index: 10;
    color: #0c5460;
}
#search-input{
    position: absolute;
    bottom: 15px;
    left: 53px;
    width: 273px;
    padding: 10px;
    padding-right: 81px;
    border-top: 5px solid #acca6b;
    border-bottom: 5px solid #acca6b;
    border-left: 5px solid #acca6b;
    border-radius: 15px;
    background: #ffffffba;
}
/* recommendation panel */
.recomm_panel{
    position: absolute;
    width: 320px;
    height: 500px;
    padding: 30px 12px;
    top: 820px;
    left: 50%;
    margin-left: -160px;
    background: #e9ecef;
    border-radius: 15px;
    box-shadow: -1px 5px 11px 0px rgba(158, 158, 158, 0.58);
    overflow: scroll;
    z-index: 200;
}
.recomm_panel h2{
    color: #28a745;
}
.recomm_panel .place-item{
    display: flex;
    width: 287px;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    background: #dee2e6;
}
.recomm_panel .place-item div:nth-child(1){
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}
.recomm_panel .place-item div:nth-child(2){
    width: 53%;
    margin-top: 15px;
    padding-left: 5px;
}
.recomm_panel .place-item div:nth-child(2) p:nth-child(1){
    color: #155724;
}
.recomm_panel #close{
    position: fixed;
    font-family: sans-serif;
    font-weight: bold;
    color: #495057;
    margin-top: -23px;
    background: #c1c1c1;
    padding: 0px 5px;
    border-radius: 20px;
    font-size: 12px;
}
.recomm_panel .place-item div:nth-child(3){
    width: 22%;
    margin-top: auto;
    margin-bottom: auto;
}
.recomm_panel .place-item .go-place-btn {
    margin-left: auto;
    margin-right: auto;
    padding: 7px 14px;
    border-radius: 30px;
    color: white;
    background: #a0e679;
    border: none;
}
/********** Navigation bar *************/
.navbar{
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}
.navbar .control-panel{
    z-index: 100;
    left: 53px;
    top: 10px;
    position: absolute;
    color: white;
    border: none;
    padding: 0px;
}
.navbar.feed h1{
    left: 27%;
}

.navbar .control-panel.back{
    left: 10px;
    font-size: 25px;
    z-index: 200;
}
.navbar .control-panel.home{
    top: 5px;
    left: 176px;
    font-size: 25px;
}
.navbar .control-panel.config{
    top: 10px;
    right: 10px;
    left: unset;
    font-size: 25px;
}
.navbar .control-panel.map{
    top: 120px;
    left: 141px;
    font-size: 25px;
}
.navbar .control-panel.images{
    top: 120px;
    left: 216px;
    font-size: 25px;
}
.navbar h1{
    z-index: 100;
    left: 53px;
    top: 48px;
    position: absolute;
    color: white;
}
.navbar button{
    z-index: 100;
    left: 133px;
    top: 115px;
    position: absolute;
    color: white;
    background: transparent;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 20px;  
}
.navbar button:hover{
    color: #97e496;
    background: #ddefdc;
}
.nav_Ellipse_6 {
    z-index: 2;
    position: absolute;
    overflow: visible !important;
    width: 467px !important;
    height: 470px;
    left: 50%;
    top: -279px;
}
.nav_Path_8 {
    z-index: 1;
    overflow: visible !important;
    position: absolute;
    top: -314px;
    left: 50%;
    width: 521px !important;
    height: 536px;
    opacity: 0.69;
    transform: matrix(1,0,0,1,0,0);
}
.nav_user_img{
    border: 4px solid white;
    border-radius: 100px;
    position: absolute;
    top: 35px;
    left: 253px;
    z-index: 3;
}
/************ Login ***************/
.login-content{
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    text-align: center;
    position: relative;
    margin-top: 220px;
}
.login-content input{
    margin-left: auto;
    margin-right: auto;
}
.login_path_2 {
    overflow: visible;
    position: absolute;
    margin-top: 114px;
    width: 706.082px;
    height: 523.6px;
    transform: rotate(0deg);
    left: 50%;
}
.login_path_3{
    overflow: visible;
    position: absolute;
    margin-top: 122.395px;
    width: 756.945px;
    height: 594.538px;
    transform: rotate(6deg);
    left: 50%;
}
.login_path_6{
    overflow: visible;
    position: absolute;
    margin-top: 84.128px;
    width: 756.344px;
    height: 588.82px;
    transform: rotate(6deg);
    left: 50%;
}
.login_user_img{
    border: 4px solid white;
    border-radius: 100px;
    margin-top: 15px;
}
.login_button{
    padding: 10px 45px;
    border: 3px solid white;
    border-radius: 30px;
    color: white;
    background: transparent;
    margin-top: 15px;
}
.register_button{
    color: white !important;
    text-decoration: underline !important;
    background: transparent;
    font-size: 18px;
    display: block;
    margin-top: 45px;
    text-align: left;
    margin-left: 60px;
}
.login_username{
    color: #666;
    border: 3px solid #ffffff;
    padding: 8px 20px;
    border-radius: 30px;
    background: #dadadac4;
    text-align: center;
    display: block;
    margin-top: 15px;
}
.login_password{
    color: #666;
    border: 3px solid #ffffff;
    padding: 8px 20px;
    border-radius: 30px;
    background: #dadadac4;
    text-align: center;
    display: block;
    margin-top: 15px;
}
/************ Maps ***************/
#map{
    z-index: 0;
    width: 110%;
    height: 905px;
    margin-top: -15px;
}
#marker{
    background-image: url('../../uploads/images/kangaroo.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#marker.animal_964{
    background-image: url('../../uploads/images/bird.png');
}
#marker.animal_879{
    background-image: url('../../uploads/images/duck.png');
}
#marker.animal_857{
    background-image: url('../../uploads/images/koala.png');
}
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup .mapboxgl-popup-content{
    text-align: center;
}
.specie-btn{
    background: #a0e679;
    border: 3px solid #acca6b;
    padding: 7px 18px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #155724;
}
.specie-btn:hover{
    background: #e6d57a;
    border: 3px solid #ffc107;
    color: #d09e08;
}
.catch-map-btn{
    background: #f9b480;
    border: 3px solid #dc7335;
    color: #dc7335;
    box-shadow: rgba(66, 64, 64, 0.38) 1px 4px 5px -1px;
    position: absolute;
    bottom: 200px;
    left: calc(50% - 46.5px);
    z-index: 200;
}
/*********** Footer **************/
.map-footer h2{
    z-index: 100;
    left: 53px;
    bottom: 114px;
    position: absolute;
    color: white;
}
.smallfooter_path_15 {
    overflow: visible;
    position: absolute;
    bottom: -371px;
    left: 50%;
    width: 515px;
    height: 455px;
    transform: matrix(1,0,0,1,0,0);
}
.footermap_path_20 {
    overflow: visible;
    position: absolute;
    bottom: -296px;
    left: -156.126px;
    width: 706.082px;
    height: 523.6px;
    transform: rotate(0deg);
}
.footermap_path_21 {
    overflow: visible;
    position: absolute;
    bottom: -427px;
    left: -286.748px;
    width: 833.325px;
    height: 716.165px;
    transform: rotate(18deg);
}
.footermap_path_10 {
    overflow: visible;
    position: absolute;
    bottom: -374px;
    left: -203.735px;
    width: 779.298px;
    height: 627.61px;
    transform: rotate(9deg);
}
/****** Settings ********/
.settings-content{
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}
.form-settings{
    text-align: center;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.settings-panel.back{
    left: 10px;
    font-size: 25px;
    z-index: 200;
    color: white;
    border: none !important;
    background: transparent !important;
}
.settings_user_img{
    border: 4px solid white;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 2;
}
.settings-title{
    display: block;
    color: white;
    z-index: 2;
    width: 150px;
    margin-right: 10%;
    margin-left: auto;
}
hr {
    color: white;
    display: block;
    border-top: 2.3px solid white;
    z-index: 2;
    width: 150px;
}
.settings{
    width: 100%;
    z-index: 2;
    color: #666;
    border: 3px solid #ffffff;
    padding: 8px 20px;
    border-radius: 30px;
    background: #eaeaea7a;
    margin-top: 13px;
    text-align: center;
}
.settings.submit{
    border: 3px solid #bebf57;
    background: #d8e7aa;
    width: 60%;
}
/******* feed *******/
.posting-form {
    text-align: center;
    padding: 15px;
    margin: 15px;
    border: 1px solid #cecece80;
    border-radius: 10px;
}
.posting-form textarea{
    border: 1px solid #28a745;
}
.posting-form .custom-file{
    width: 85%;
    margin-bottom: 20px;
    text-align: left;
}
.custom-file-input:lang(en)~.custom-file-label::after{
    background: #a0e679;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}
.feed-panel{
    z-index: 1;
    overflow-y: scroll;
    height: 716px;
    background: white;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.feed-panel .feed-entry{
    width: 350px;
    height: 192px;
    background: #6c757d;
    margin: 12px;
    margin-bottom: 31px;
    border-radius: 15px;
    box-shadow: -1px 5px 11px 0px rgba(158,158,158,1);
}
.feed-panel .feed-entry .title{
    background: #d4e57ad4;
    padding: 5px;
    color: #155724;
    border-radius: 15px 15px 0px 0px;
}
.feed-panel .feed-entry .social{
    text-align: right;
    color: white;
    font-size: 21px;
    margin-top: 117px;
    padding: 5px 10px;
    background: #ffc1078a;
    border-radius: 0px 0px 15px 15px;
}
.feed-panel .feed-entry .social p{
    display: inline-block;
    margin: 0px;
    padding-right: 8px;
}
.feed-panel .feed-entry .social #name{
    float: left;
}
.feed-panel .feed-entry .social #likes:hover{
    color: #f18282;
}
.feed-panel .feed-entry .social #comments:hover{
    color: #ffc107;
}
.feed-panel .album-entry{
    width: 65px;
    height: 65px;
    background: #6c757d;
    margin: 12px;
    border-radius: 15px;
    box-shadow: -1px 5px 11px 0px rgba(158,158,158,1);
}
.feed-panel .album-entry:hover{
    box-shadow: -1px 5px 11px 0px #383d41;
}
.add-user-btn{
    margin-left: 22px;
    margin-top: 9px;
    border: 2px solid green;
    padding: 7px 22px;
    border-radius: 10px;
    background: transparent;
}
.feed-panel .album-title-list{
    margin-top: 120px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid #4a8429;
}
.feed-panel .feed-entry:nth-child(1){
    margin-top: 100px;
}
.feed-panel .feed-entry#one{
    background: url(../../uploads/images/one.png);
    background-size: cover;
}
.feed-panel .feed-entry#two{
    background: url(../../uploads/images/two.png);
    background-size: cover;
}
.feed-panel .feed-entry#three{
    background: url(../../uploads/images/three.png);
    background-size: cover;
}
/******* social *******/
.feed-panel .user-item div:nth-child(2){
    width: 120px;
}
.feed-panel .social-title-list {
    margin-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid #4a8429;
}
.feed-panel .social-head-button {
    margin-top: 140px;
    text-align: center;
}
.feed-panel .social-head-button button{
    padding: 10px;
    border: 1px solid;
    background: rgb(233, 236, 239);
    border-color: rgb(195, 195, 195);
    color: rgb(142, 142, 142);
    width: 150px;
}
.feed-panel .social-head-button button:nth-child(1){
    border-radius: 14px 0px 0px 14px;
}
.feed-panel .social-head-button button:nth-child(2){
    border-radius: 0px 14px 14px 0px;
}
.feed-panel .user-item{
    display: flex;
    width: 350px;
    height: 82px;
    background: #f1f9f3;
    margin: 12px;
    margin-bottom: 31px;
    border-radius: 15px;
    box-shadow: -1px 5px 11px 0px rgba(158,158,158,1);
}
.feed-panel .user-item img{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.feed-panel .user-item div{
    margin-top: 10px;
}
.feed-panel .rm-user-btn{
    margin-left: 47px;
    margin-top: 9px;
    border: 2px solid #dc3545e0;
    padding: 7px 13px;
    border-radius: 10px;
    background: #dc35451c;
    color: #dc3545;
}
/****** direction *******/
.truck {
  margin: -10px -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #3887be;
  pointer-events: none;
}
.marker-destination{
    width: 38px;
    height: 34px;
    border-radius: 26px;
    border: 3px solid #dc3545;
    transform: translate(-50%, -50%) translate(182px, 314px);
    background-size: contain;
}