<div class="toast-container">
    <div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="../../uploads/images/user.png" class="rounded mr-2" alt="...">
            <strong class="mr-auto">Animal go</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Toast message
        </div>
    </div>
</div>